[Unit]
Description=Gamescope Session Plus
PartOf=gamescope-session.target

[Service]
ExecStart=/usr/share/gamescope-session-plus/gamescope-session-plus %i
KillMode=mixed
# Make Steam's srt-logger write to the journal with it's own prefixes
Environment=SRT_LOG_TO_JOURNAL=1
